[Unit]
Description=Lliurex client network configuration
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/share/lliurex-client-env-configuration/lliurex-client-env-network

[Install]
WantedBy=default.target
